.header {
  position: relative;
  min-height: 56px;
}

.header__logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 185px;
  height: 96px;
  z-index: 1;
}

.header__hero-container {
  background: bottom url("../../img/back-mobile.jpg");
  width: @mobile-width;
  height: 158px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
