.header {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 185px;
  height: 96px;
  z-index: 1;
}

.header__hero-container {
  position: relative;
  background: no-repeat url("../img/hero/back-desktop@1x.jpg") @shadow;
  background-position: center bottom;
  height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/back-desktop@2x.jpg");
  }

  @media (max-width: @mobile-width-only) {
    background-size: 902px 214px;
  }

  @media (min-width: @tablet-width) {
    height: 290px;
    background-size: 1200px 518px;
  }

  @media (min-width: @desktop-width) {
    height: 301px;
  }
}

.header__img {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  margin: auto;
  width: 229px;
  height: 39px;

  @media (min-width: @tablet-width) {
    top: 95px;
    width: 457px;
    height: 78px;
  }

  @media (min-width: @desktop-width) {
    top: 101px;
    width: 460px;
    height: 80px;
  }
}

.header__hero-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 57px;
  mask-image: url("../img/sprite.svg#intro-triangle");
  mask-position: center;
  mask-size: 1200px 57px;
  background-color: @white;
}
