.site-list {
  position: relative;
  .no-bullet();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.site-list::after {
  @media (min-width: @tablet-width) {
    content: "";
    grid-column: ~"3 / 4";
    grid-row: ~"1 / 3";
  }
}

.site-list__link {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 56px;
  background-color: @blue;
  color: @white;
  display: flex;
  align-items: center;
  justify-content: center;
  .font-size-lead-mobile();
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    padding-right: 68px;
    padding-left: 68px;

    &:hover,
    &:focus {
      color: fade(@white, 60%);
      background-color: @blue-hover;
    }

    &:active {
      color: fade(@white, 30%);
      background-color: @blue-active;
    }
  }

  @media (min-width: @tablet-width) {
    .font-size-description();
    font-weight: 700;
    background-color: @white;
    color: @black;

    &:hover,
    &:focus {
      color: @blue;
    }

    &:active {
      color: fade(@black, 30%);
    }
  }
}

.site-list__item--active .site-list__link {
  @media (min-width: @tablet-width) {
    color: @brown;
  }
}

@media (max-width: @mobile-width-only) {
  .site-list__item:not(:last-child) .site-list__link {
    border-bottom: 1px solid @shadow;
  }

  .site-list__item:not(:first-child) .site-list__link {
    border-top: 1px solid fade(@white, 20%);
  }

  .site-list__item:last-child .site-list__link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    background: linear-gradient(180deg, fade(@black, 0%) 0%, fade(@black, 20%) 100%);
    filter: drop-shadow(0 4px 4px fade(@black, 25%));
  }
}
