.advantages__header-container {
  margin: 32px 18px 16px;

  @media (min-width: @tablet-width) {
    margin: 47px 124px 56px;
  }

  @media (min-width: @desktop-width) {
    margin: 59px 358px 44px;
  }
}

.advantages__container {
  display: flex;
  flex-direction: column;
}

.advantages__lead {
  .font-size-lead();
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__list {
  .no-bullet();
}

.advantages__wrapper-service-main {
  @media (max-width: @mobile-width-only) {
    margin: 23px 18px 46px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__wrapper-service {
  padding-left: 47px;

  .advantages__lead {
    text-align: start;
  }

  .advantages__description {
    text-align: start;
  }
}

.advantages__wrapper-wide {
  padding: 37px 18px;
  background-color: @blue;
  color: @white;

  .advantages__description {
    color: inherit;
  }
}

.advantages__wrapper-secondary {
  background-color: @gray;

  @media (max-width: @mobile-width-only) {
    padding: 24px 18px 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
