.advantages__header-container {
  margin: 32px 18px 16px;
}

.advantages__lead {
  .font-size-lead();
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__list {
  .no-bullet();
}

.advantages__wrapper-service-main {
  margin: 23px 18px 46px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.advantages__wrapper-service {
  padding-left: 47px;

  .advantages__lead {
    text-align: start;
  }

  .advantages__description {
    text-align: start;
  }
}

.advantages__wrapper-wide {
  padding: 37px 18px;
  background-color: @blue;
  color: @white;

  .advantages__description {
    color: inherit;
  }
}

.advantages__wrapper-secondary {
  padding: 24px 18px 28px;
  background-color: @gray;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
