.comment {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }
}

.comment::before,
.comment::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -40px;
    width: 123px;
    border-top: 1px solid @disabled;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .comment::before {
    left: 0;
  }

  .comment::after {
    right: 0;
  }
}

.comment__form-field {
  font-family: inherit;
  .font-size-lead-mobile();
  height: 150px;
  width: 100%;
  background-color: @base-sheet;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  resize: none;

  &:hover,
  &:focus {
    background-color: @disabled;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    height: 160px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin: 0 96px;
  }
}

.comment__form-field::placeholder {
  opacity: 0.3;
}
