.contacts__list {
  .no-bullet();
}

.contacts__label {
  color: @dark-gray;
  text-transform: uppercase;
}

.contacts__form-field {
  .font-size-lead-mobile();
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    .font-size-lead();
  }
}
