.form-container__header-wrapper {
  margin: 36px 20px 28px;
}

.form-container__legend,
.form-container__lead {
  .font-size-lead();
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.form-container__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.form-container__group {
  border: none;
}

.form-container__footnote {
  font-size: 12px;
  text-transform: uppercase;
  text-align: end;
  margin: 0;
  opacity: 0.6;
}
