.impressions {
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.impressions::before,
.impressions::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -40px;
    width: 123px;
    border-top: 1px solid @disabled;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .impressions::before {
    left: 0;
  }

  .impressions::after {
    right: 0;
  }
}

.impressions__list {
  .no-bullet();
}

.impressions__description {
  .font-size-lead-mobile();

  @media (min-width: @tablet-width) {
    .font-size-lead();
  }
}

.impressions__list-wrapper {
  display: grid;
  gap: 16px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
}

.impressions__label {
  position: relative;
  display: flex;
  height: 46px;
  align-items: center;
  padding-left: 62px;
}

.impressions__mark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 46px;
  background-color: @base-sheet;
  border-radius: 50%;
}

.impressions__label:hover .impressions__mark {
  background-color: @disabled;
}

.impressions__input:focus + .impressions__mark {
  background-color: @disabled;
}

.impressions__input:checked + .impressions__mark::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: @dark-gray;
  border-radius: 50%;
}
