.catalog-list__lead {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-list__description {
  color: @dark-gray;
  margin: 0;
}

.catalog-list__likes {
  font-weight: 700;
}
