.catalog-list__lead {
  .font-size-description();
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.catalog-list__description {
  color: @dark-gray;
  margin: 0;
}

.catalog-list__likes-wrapper {
  position: relative;
  padding-left: 37px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
  }
}

.catalog-list__likes-icon {
  position: absolute;
  bottom: 5px;
  left: 0;
  margin: auto;
  fill: fade(@black, 30%);
}

.catalog-list__secondary-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
