.foto-section__header-wrapper {
  position: relative;
  margin: 37px 0 61px;

  @media (min-width: @tablet-width) {
    margin: 66px 95px 80px;
  }

  @media (min-width: @desktop-width) {
    margin: 98px 371px 88px;
  }
}

@media (max-width: @mobile-width-only) {
  .foto-section__header-wrapper::after {
    content: "";
    position: absolute;
    bottom: -36px;
    left: -20px;
    right: -20px;
    border-bottom: 1px solid @disabled;
  }
}

.foto-section__lead {
  .font-size-lead-mobile();
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    .font-size-title();
    margin-bottom: 33px;
  }
}

.foto-section__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.foto-section__list {
  .no-bullet();
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.foto-section__br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
