.foto-section__header-wrapper {
  margin: 37px 0 25px;

  @media (min-width: @tablet-width) {
    margin: 66px 95px 67px;
  }

  @media (min-width: @desktop-width) {
    margin: 100px 371px 65px;
  }
}

.foto-section__lead {
  .font-size-lead();
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.foto-section__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.foto-section__list {
  .no-bullet();
}

.foto-section__br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
