.video-section__wrapper {
  margin: 17px 27px 38px;

  @media (min-width: @tablet-width) {
    margin: 58px 101px 66px;
  }

  @media (min-width: @desktop-width) {
    margin: 62px 377px 64px;
  }
}

.video-section__lead {
  .font-size-lead-mobile();
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-size-lead();
  }
}

.video-section__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
