.video-section__wrapper {
  margin: 0 20px 38px;

  @media (min-width: @tablet-width) {
    margin: 0 101px 89px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 377px 86px;
  }
}

.video-section__lead {
  .font-size-lead-mobile();
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    .font-size-title();
    margin-bottom: 32px;
  }
}

.video-section__description {
  color: @dark-gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.video-section__video-wrapper {
  margin: 0 -4px -8px;

  @media (min-width: @tablet-width) {
    margin: 0 0 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 200px 84px;
  }
}
