.copyright__text {
  text-transform: uppercase;
}

.copyright__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 35px;
  padding: 7px 40px 7px 0;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: @blue;

    &::after {
      background-color: @blue;
    }
  }

  &:active {
    color: fade(@black, 30%);

    &::after {
      background-color: fade(@black, 30%);
    }
  }
}

.copyright__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 27px;
  mask-image: url("../img/sprite.svg#htmlacademy");
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: @black;
}
